body {
  width: 36rem;
  margin: 1rem auto;
  padding: 0 1rem 0 1rem;
}

article {
  padding: 2rem !important;
}

@media screen and (max-width: 38rem) {
  body {
    width: auto;
  }
}

.gist,
.gist-file {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.gist-file {
  border: 1px solid #ddd !important;
  border-radius: 0 !important;
}

.gist-file:first-child,
.gist-meta a:first-child,
.gist-meta a:nth-child(3) {
  display: none;
}

.gist-meta {
  border-radius: 0 !important;
  color: rgba(0, 0, 0, 0) !important;
  max-height: 1rem;
  pointer-events: none;
  cursor: default;
}

.gist-meta a:nth-child(2) {
  color: transparent !important;
  background-color: #666;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 2rem, #666 2rem);
  background-clip: text;
}

.gist-data {
  word-wrap: break-word !important;
  border-bottom: 0 !important;
}